.login_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_form {
  margin-top: 20px;
  width: 400px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: red;
  }
}
